html {
    @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-display: swap;
    box-sizing: border-box;
    button {
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        padding: 0;
        border: none;
        background: none;
    }
    #burgerBtn {
        display: none;
    }
    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
    input,
    textarea {
        -webkit-appearance: none;
    }
}

body {
    background-color: var(--bgcolor);
    margin: 0;
}

:root {
    --bgcolor: white;
    --bgcolorTransparent: rgba(255, 255, 255, 0.767);
    --anchorColor: rgb(3, 118, 250);
    --alwaysWhite: #fff;
    --lightGray: rgba(128, 128, 128, 1);
    --textColor: black;
    --inputBgColor: white;
    --imgOpacity: 1;
}

[data-theme="dark"] {
    --bgcolor: #212121;
    --bgcolorTransparent: #000000b0;
    --alwaysWhite: #fff;
    --lightGray: #000000;
    --textColor: white;
    --inputBgColor: #212529;
    --imgOpacity: 0.7;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .app__links {
        display: none;
    }
    #burgerBtn {
        display: block !important;
    }

    .app__links_open {
        overflow: hidden;
        position: absolute;
        z-index: 69;
        width: 100%;
        background-color: var(--bgcolorTransparent);
        a,
        button {
            text-align: left;
            color: var(--textColor);
            border-bottom: solid 1px;
            position: relative;
            padding: 0.9em;
            display: block;
            width: 100%;
        }
    }
    .contacts__container {
        display: block !important;
    }
}
@media (max-width: 500px) {
    div.projects article:nth-child(even) .project-images {
        order: 0 !important;
    }
}

@media only screen {
    @media (min-width: 3840px) {
        html {
            font-size: 48px;
        }
        .fixedImg {
            background-image: url("../images/jeshoots_bg3840.jpg");
        }
    }
    @media (min-width: 1920px) and (max-width: 3839px) {
        html {
            font-size: 24px;
        }
        .fixedImg {
            background-image: url("../images/jeshoots_bg1920.jpg");
        }
    }
    @media (max-width: 1919px) {
        .fixedImg {
            background-image: url("../images/jeshoots_bg1600.jpg");
        }
    }
    @media (max-width: 1599px) {
        .fixedImg {
            background-image: url("../images/jeshoots_bg1366.jpg");
        }
    }
    @media (max-width: 1365px) {
        .fixedImg {
            background-image: url("../images/jeshoots_bg1280.jpg");
        }
    }
    @media (max-width: 1279px) {
        .fixedImg {
            background-image: url("../images/jeshoots_bg768.jpg");
        }
    }
    @media (max-width: 767px) {
        .fixedImg {
            background-image: url("../images/jeshoots_bg500.jpg");
        }
    }
}

/* Header */

header {
    background-color: var(--bgcolor);
}
.app__links {
    text-align: right;
    a,
    button {
        padding-right: 20px;
        color: var(--textColor);
    }
    a:hover,
    a:focus {
        border-bottom: solid 2px var(--textColor);
    }
}

/* Main page */

.mainPage {
    text-align: center;

    .fixedImg {
        position: fixed;
        z-index: -10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: var(--imgOpacity);
        transition: opacity 0.7s ease-in-out;
    }

    .mainPage__text {
        width: 100%;
        padding: 40vh 0 40vh 0;
        letter-spacing: 0.1em;
        color: var(--alwaysWhite);
        text-shadow: 1px 1px 1px rgb(59, 59, 59);
        h1 {
            animation: fadein 1s;
            margin: 5px;
            font-size: 2em;
        }
        p {
            animation: animated-text 3s steps(50, end) 1s 1 normal both;
            white-space: nowrap;
            overflow: hidden;
            margin: 0 auto;
        }
    }
}

/* Projects */

.projectsPage {
    text-align: center;
    color: var(--textColor);
    background-color: var(--bgcolorTransparent);
    h2 {
        margin: 0;
        padding-top: 10px;
    }
    div.projects article:nth-child(even) .project-images {
        order: 1;
    }
    .projects {
        .projects__content {
            width: 90vw;
            background-color: var(--bgcolor);
            box-shadow: 0px 5px 8px var(--lightGray);
            margin: 7vh auto 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: 6px;
            .project-images {
                min-width: 250px;
                flex: 1;
                img {
                    width: 90%;
                    object-fit: contain;
                    margin: 20px 10px;
                    border-radius: 6px;
                    transition: transform 1s;
                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }
            .project-info {
                min-width: 250px;
                flex: 1;
            }
            .project-name {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                &:before,
                &:after {
                    content: "";
                    flex-grow: 1;
                    flex-shrink: 0;
                    height: 0.1em;
                    background-color: var(--textColor);
                    box-shadow: 0px 0.4em var(--textColor);
                    position: relative;
                    top: -0.1em;
                    opacity: 0.8;
                }
                &:before {
                    margin-right: 10px;
                }
                &:after {
                    margin-left: 10px;
                }
            }
            svg {
                display: inline-block;
                vertical-align: center;
            }
            ul {
                list-style-type: circle;
                line-height: 1.5em;
                text-align: left;
            }
            .last-line {
                margin: 20px 5px 5px 5px;
            }
        }
        .icons {
            text-align: center;
            margin: 0 10px 5px 10px;
            & > * {
                margin: 0 0.5%;
            }
        }
        .project__links > * {
            display: inline-flex;
            align-items: center;
            color: var(--anchorColor);
            font-weight: bold;
            font-size: 1.2em;
            box-shadow: 0px 6px 5px -1px var(--lightGray);
            padding: 1% 7%;
            margin: 3%;
            border-radius: 5px;
            &:hover {
                box-shadow: inset 0px 4px 4px var(--lightGray);
                text-shadow: 0px 1px 6px var(--anchorColor);
            }
            svg {
                margin-right: 7%;
            }
        }
    }
}

/*  Static */
.app img,
svg {
    opacity: var(--imgOpacity);
    transition: opacity 0.7s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

#githubImg,
#herokuImg {
    fill: var(--textColor);
    position: relative;
    top: 0.1em;
}

/* Contacts */

.contacts {
    color: var(--textColor);
    padding: 100px 0 40px 0;
    text-align: center;
    background-color: var(--bgcolorTransparent);
    a {
        border-radius: 10px;
    }
    .contacts__container {
        display: flex;
    }
    .contacts__right {
        flex: 0.5;
        margin-top: 30px;
    }
    .contacts__left {
        flex: 1;
    }
    input,
    textarea {
        color: var(--textColor);
        font-size: 1.1em;
        display: block;
        padding: 0.5em;
        border: none;
        width: 90%;
        height: 1.5em;
        outline: none;
        background-color: var(--inputBgColor);
        margin: 0 auto 0.5em auto;
        box-shadow: inset 0px 4px 4px var(--lightGray);
        &::placeholder {
            font-size: 0.8em;
        }
        &:focus {
            box-shadow: inset 0px 4px 1px var(--anchorColor);
        }
    }
    button {
        color: var(--textColor);
        font-weight: bold;
        padding: 0.5em 0;
        width: 60%;
        margin: 0 auto;
        background-color: var(--bgcolor);
        box-shadow: 0px 7px 5px -1px var(--lightGray);
        border-radius: 5px;
        &:hover {
            box-shadow: inset 0px 4px 4px var(--lightGray);
        }
    }
    textarea {
        height: 4em;
    }
    .contacts__links a:not(:first-child) {
        margin-left: 3%;
    }
    .contacts__links > * {
        box-shadow: 0px 6px 5px -1px var(--lightGray);
        padding: 7%;
        &:hover {
            box-shadow: inset 0px 4px 4px var(--lightGray);
            text-shadow: 0px 1px 6px var(--anchorColor);
        }
    }
    .footer__year {
        font-size: 0.8em;
        color: grey;
        margin-top: 4em;
    }
}

#toTop {
    animation: fadein 7s;
    position: fixed;
    top: 85%;
    left: 5%;
    display: inline-flex;
    cursor: pointer;
    z-index: 69;
    #topArrowImg {
        width: 2.2em;
        height: 100%; // for -webkit
        fill: var(--textColor);
        opacity: 0.5;
    }
}

/* slider */

.switch {
    display: inline-block;
    height: 0.9em;
    width: 2em;
    position: relative;
    margin-left: 0.3em;
    input {
        display: none;
    }
}

.slider {
    background-color: var(--anchorColor);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;

    &:before {
        background-color: var(--alwaysWhite);
        bottom: -1px;
        content: "";
        height: 1em;
        left: 0px;
        position: absolute;
        transition: 0.4s;
        width: 1em;
        border: solid 1px var(--textColor);
    }
    &.round {
        border-radius: 0.8em;
        &:before {
            border-radius: 50%;
        }
    }
}

input:checked {
    + .slider {
        background-color: var(--anchorColor);
        &:before {
            transform: translateX(1em);
        }
    }
}

/* animations */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideL {
    from {
        opacity: 0.25;
        transform: translate(-10%);
    }
    to {
        opacity: 1;
    }
}

.slideLeft {
    animation: slideL 1s ease-in-out;
}

@keyframes slideR {
    from {
        opacity: 0.25;
        transform: translate(+10%);
    }
    to {
        opacity: 1;
    }
}

.slideRight {
    animation: slideR 0.6s ease-in-out;
}
